.project-description {
    background-color: #5793ED;
    border-radius: 25px;
    margin: 5rem 0;
}
.rotate-inverse {
    writing-mode:vertical-rl;
    rotate: 180deg;
    height: fit-content;
}

.project-description-text {
    background-color: #fff;
    margin: auto 0;
    border-radius: 25px;
}

.blue-rectangle {
    position: absolute;
    top: 0;
    left: 82%;
}
@media (max-width:768px) {
 

    .project-description-text > p {
        font-size: 12px;
    }
    .project-description-text , .px-14{
        padding:  0 30px !important;
    }
    .project-image{
        width: 200px;
    }
}
@media (max-width: 475px) {
    .project-description {
        flex-direction: column;
        height: auto !important;
        margin: 1rem 0;
    }
    .project-description-text {
        height: auto !important;
        width: auto;
    }
   .project-description-text {
        padding: 20px 14px !important;
    }
    .project-description-text > p {
        font-size: 12px !important;
    }
    .rotate-inverse {
        writing-mode:horizontal-tb;
        rotate:  0deg;
        height: fit-content;
        font-size: 14px !important;
        padding: 10px 0 !important;
    }
    
}