.project-testimonial {
    background-color: #F05D3E;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    position: relative;
    margin-top: 50px;
}
.project-testimonial-info {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 25px;
    gap: 5rem;
}

.project-round-image {
height: 154px;
width: 154.13px;
display: block;
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}
.project-testimonial-logo {
    width: 58rem;
}
.project-testimonial-logo > img:last-child {
    display: none;
}

@media (max-width: 768px) {
    .project-testimonial-text > p {
        font-size: 12px;
        padding-bottom: 20px;
    }
    .project-testimonial-text > h4 {
        font-size: 12px;
        margin-bottom: 0;
    }
    .project-testimonial-info {
        gap: 2rem;
    }
 
 
    
}
@media (max-width: 475px) {
    .project-testimonial {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .project-testimonial > .blue-rectangle  {
        display: none;
    }
    .h-64 {
        height: fit-content !important;
    }
    .project-testimonial-info {
        flex-direction: column;
        gap: 2rem;
    }
    .project-testimonial-logo {
        width: auto;
        margin-bottom: 20px;
    }
    .project-testimonial-logo > img {

        height: 113px;
        margin-top: 30px;
    }
    .project-testimonial-text > p {
        font-size: 12px;
        padding-bottom: 20px;
    }
    .project-testimonial-text > h4 {
        margin-bottom: 10px;
    }
        .project-testimonial-logo > img:nth-child(2) {
            display: none;
        }
        .project-testimonial-logo > img:last-child {
            display: block;
        }
}

@media (max-width: 410px) {
    .project-testimonial-logo > img:last-child {
        margin-left: -60px;
    }
}
@media (max-width: 350px) {
    .project-testimonial-logo > img:last-child {
        display: none;
    }
    .project-testimonial-logo > img:nth-child(2) {
        display: block;
    }
}