.allprojects {
    background-color: #f7f7f7;
}

.wrapper {
    margin: 60px 0;
}

.semi-hover {
    height: 200px;
    width: 350px;
    background-color: #fff;
    border-top-left-radius: 14rem;
    border-bottom-left-radius: 14rem;
    margin-left: -200px;
    border: 1px solid #333;

}

.semi-hover:nth-child(4) {
    background-color: orange;
}

.cardgg {
    margin-left: 200px;
    display: flex;
    justify-content: center;
}

.semi-image {
    width: 50%;
    height: 100%;
    margin: 0;
    float: right;
    border-top-left-radius: 14rem;
    border-bottom-left-radius: 14rem;

}

.semi-hover:hover {
    width: 30%;
}

.semi-hover:hover .semi-image {
    width: 70%;
}

@media (max-width:475px) {
    .allprojects {
        width: auto;
        overflow: hidden;
    }
    .css-1ruxp1v {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .css-1eynuxm,  .css-n5ldke, .css-1dqi0j3, .css-1ialerq {
        flex-direction: column !important;
        margin-bottom: 0 !important;
    }
    .css-1xga0wj {
        margin-left: 0 !important;
    }
    .css-171k0yr {
        flex-direction: column !important;
        height: auto !important;
        width: 350px!important;
        padding-right: 0px;
        overflow: hidden;
    } 
 .css-4idzr9 {
        width: 350px !important;
        background-color: #333;
    }
    .css-1jmmuem {
        background-color: transparent;
    }
    .css-etm0j8 {
        padding-right: 10px !important;
        width: auto !important;
        overflow: hidden;
    }
   .css-bc1tov-MuiGrid-root {
    flex-direction: column !important;
    width: fit-content !important;
   }
   .css-9vulm7 {
    width: 400px !important;
    margin-top: 40px;
   }
  .css-bc1tov-MuiGrid-root :first-child > ul , .css-bc1tov-MuiGrid-root :last-child > ul{
    width:300px;
  }
  .css-m8bhan {
    margin-bottom: 0px !important;
  }
  .css-rsurte {
    display: block !important;
    overflow: hidden;
  }
  .css-1h879sl {
    display: none !important;
  }
  .service-all-width {
    overflow: hidden;
  }
  .css-qw60dt {
    margin: 0px !important; 
  }
}
