.carousel-container {
  margin-left: 95px;
}

.card {
  position: relative; /* Changed from absolute to relative */
  width: 327px;
  height: 340px;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, opacity 0.3s ease;
  margin: 5px;
  opacity: 1;
}

/* .card-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
} */

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: height 0.3s ease;
}

.card-top {
  display: flex;
  align-items: center;
}

.card-number {
  font-size: 1em;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 50%;
  width: 41px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px; /* Added margin to separate number and title */
}

.card-title {
  font-size: 0.9em;
  flex-grow: 1; /* Ensure the title takes available space */
}

.divider-container {
  width: 100%; /* Ensure the divider container spans full width */
  
}

hr.solid {
  width: 70%;
  border-top: 1px solid #f6f1f1;
  margin: 10px 0;
}

.card-more-info {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  width: 100%;
  margin-left: 55px;
  text-align: left; /* Center the text */
}

.card:hover {
  cursor: pointer;
}

.card:hover .card-content {
  height: 170px;
  background: rgba(13, 13, 13, 0.47);
}

.card:hover .card-more-info {
  opacity: 1;
  visibility: visible;
}

.card:hover img {
  transform: scale(1.1);
}

.arrow-icon {
  display: flex;
}
