.carousel-container {
    margin-left: 95px; /* Set a left margin for the component */
  }
  
  .card {
    position: absolute;
    width: 327px; /* Fixed width */
    height: 340px; /* Fixed height */
    border-radius: 24px; /* Fixed border radius */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, opacity 0.3s ease; /* Include opacity transition */
    margin: 5px; /* Reduced margin between cards */
    opacity: 1; /* Default opacity */
  }
  
 
  .card-image {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  
  .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6); /* Dark overlay */
    color: white;
    width: 100%; /* Use full width of the card */
    height: 103px; /* Fixed height for the rectangle holding text and number */
    padding: 10px; /* Padding to make content section larger */
    gap: 10px; /* Space between number and title */
    display: flex;
    align-items: center;
  }

  .card-number {
    font-size: 1em; /* Adjusted font size */
    /*font-weight: normal; /* Removed boldness */
    background: rgba(0, 0, 0, 0.6); /* Match background color */
    color: white; /* White text */
    border-radius: 27px; /* Fixed border radius for the circle */
    width: 41.12px; /* Fixed width for the circle */
    height: 41px; /* Fixed height for the circle */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-title {
    font-size: 0.9em; /* Adjust width to avoid overflow */
  }

  hr.solid{
    width: 95%;
    border-top: 3px solid #f6f1f1;
    margin: 10px auto;
    margin-bottom: 15px;
  }

  
  .card-more-info{
    visibility: hidden;
    font-size: 0.9em;
  }

  .card:hover{
    cursor: pointer;
  }

  .card:hover .card-content{
    height: 170px;
    background: rgba(13, 13, 13, 0.47);
  }

  .card:hover .card-more-info{
    opacity: 1;
    visibility: visible;
  }

  .card:hover img{
    transform: scale(1.1);
  }

  
  