/* Add this at the top of your CSS file */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* src/styles.css or the relevant CSS file */
.montserrat-regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.montserrat-medium {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}



.sticky-navbar {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000; /* Adjust as needed to ensure the navbar stays on top */
}

.section-container {
  display: flex;
  background-color: #1d2b36;
  color: white;
  padding: 40px;
  margin-top: 80px;
}

.slider-container {
  width: 50%;
  max-width: 800px; /* Adjust as needed */
  margin-left: -60px;
  margin-right: 45px;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-image {
  max-width: 100%;
  height: auto;
}

.slider-container .react-multi-carousel-item {
  transition: opacity 1s ease-in-out;
}

.slider-container .react-multi-carousel-item--active {
  opacity: 1;
}

.slider-container .react-multi-carousel-item:not(.react-multi-carousel-item--active) {
  opacity: 0;
}

.text-container {
  width: 50%;
  padding: 20px;
}

.text-container h3 span {
  color: #f29c29;
  margin-bottom: 10px;
}

.text-container h3 {
  font-size: 30px;
  
  margin-bottom: 10px;
}

.text-container p {
  font-size: 15px;
  line-height:2.2;
}

.text-container p span {
  font-size: 15px;
  font-weight: 600;
}

.bullets-container {
  margin-top: 20px;
}

.bullet-point {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px; /* Add space for the radio button */
}

.bullet-point::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  padding: 10px;
  border: 2px solid #a9a9a9; /* Border to look like radio button */
  background-color: #1d2b36; /* Match background color */
  opacity: 50%;
}

.bullet-point::after {
  content: '  ';
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%) translateX(100%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #a9a9a9; /* Filled dot inside */
  opacity: 50%;
}

hr{
  width: 40px;
}

.bottom-text {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  
}

.bottom-text h4{
  line-height: 2.2;
  text-align: justify;
  font-size: 13px;
}



  