/* Add this at the top of your CSS file */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* src/styles.css or the relevant CSS file */
.montserrat-regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.montserrat-medium {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.sticky-navbar {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000; /* Adjust as needed to ensure the navbar stays on top */
}

.section-container {
  display: flex;
  background-color: #1d2b36;
  color: white;
  padding: 40px;
}

.slider-container {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slider-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-image {
  width: 100%;
  height: auto;
}

.text-container {
  width: 50%;
  padding: 20px;
}

.text-container h2 {
  font-size: 2em;
  color: #f29c29;
  margin-bottom: 10px;
}

.text-container p {
  font-size: 1.1em;
  line-height: 1.6;
}

.bullets-container {
  margin-top: 20px;
}

.bullet-point {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px; /* Add space for the radio button */
}

.bullet-point::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #f29c29; /* Border to look like radio button */
  background-color: #1d2b36; /* Match background color */
}

.bullet-point::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #f29c29; /* Filled dot inside */
}

.bottom-text {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}



  