.projectinfo {
    margin: 0 1rem;
    padding: 1.5rem 3rem;
    font-family: 'Montserrat, sans-serif' !important;
}

.border-top-svg {
    margin: 0.8rem auto 3rem auto;
}

.border-top-sm {
    display: none;
}

.project-image {
    width: 100%;
}
.project-image:last-of-type {
    width: fit-content;
}

@media (max-width: 475px) {
    .projectinfo {
        padding: 0 1rem;
        margin: 0 10px;
    }

    .border-top-svg {
        display: none;

    }

    .border-top-sm {
        text-align: center;
        display: block;
        margin: 30px auto;
    }
}